.location {
  padding: 0 0 80px 0;
}

.locationHero {
  height: 300px;
  background-image: url("/img/location.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionTitle {
  margin: 0;
  color: #fff;
  letter-spacing: 0.2em;
}

.locationInner {
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 20px 0 20px;
}

.locationHeading {
  margin: 0 auto;
  display: inline-block;
  font-size: 24px;
  border-bottom: 6px solid #e03131;
}

.locationHeadingWrapper {
  text-align: center;
}

.mapWrapper {
  margin: 40px 0 0 0;
}

.map {
  width: 100%;
  height: 400px;
  border: 0;
}

.locationInfo {
  margin: 20px 0 0 0 ;
}

.locationInfor p {
  margin: 0 0 12px 0;
}

@media (max-width: 768px) {
  .locationHero {
    background-attachment: scroll;
  }

  .map {
    height: 300px;
  }
}